.profileContainer {
  margin-top: 5rem!important;
}

.user {
  border-bottom: solid 2px #FF9F1C;
}
.margin {
  margin-top: 1rem!important;
  margin-right: 1rem!important;
}

.height {
  height: 15rem!important;
}