.title {
  flex-grow: 1;
}

.homelink {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}

.appBar {
  background-color: #00A6ED!important;
}

.toolbar {
  margin-top: 2rem;
  margin-left: 0.5rem;
  width: 240px;
}

.navigation {
  color: white!important;
  padding-right: .5rem;
  padding-left: .5rem;
}

@media screen and (min-width: 641px) {
  .menuButton {
    visibility: hidden;
  }
}

/* MEDIA QUERIES */
@media screen and (min-width: 320px) and (max-width: 642px) {
  .drawer {
    flex-shrink: 0;
  } 
  .navigation {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
}