.title {
  flex-grow: 1;
}

.homelink {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}

.appBar {
  background-color: #00A6ED!important;
}

.toolbar {
  margin-top: 2rem;
  margin-left: 0.5rem;
  width: 240px;
}

.display {
  width: 250px;
}

.navigation {
  color: white!important;
  padding-right: .5rem;
  padding-left: .5rem;
}

/* MEDIA QUERIES */
/* Drawer */
@media screen and (min-width: 772px) {
  .menuButton {
    visibility: hidden;
  }
}

@media screen and (min-width: 320px) and (max-width: 771px) {
  .drawer {
    flex-shrink: 0;
  } 
  .navigation {
    display: none;
  }
}

/* iPad *******************************************/
/* Portrait */
@media (min-width: 320px) and (max-width: 1023px) and (orientation: portrait) {
  .homelink{
    float: right!important;
   }
}

/* iPhone 5, 5S, 5C, 5SE ************************************/
/* Portrait */
@media only screen and (min-width: 320px) and (max-width: 568px)and (-webkit-min-device-pixel-ratio: 2)and (orientation: portrait) {
  /* .display {
    width: 200px;
  } */
}