  body {
    background-color: #f5f5f5!important
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 5rem
  }

  .h4 {
    color: #FF9F1C;
  }

  .grid {
   padding-bottom: 2rem;
   position: relative;
  }

  .card {
    padding: 1rem;
    box-shadow: 2px 2px 2px 2px rgb(168, 168, 168)!important;
  }

  .cardContent {
    margin-top: 1rem;
  }

  .buttonUpload {
    margin-top:2rem!important;
  }

  .rightIcon {
    margin-left: 0.5rem;
  }

  .sendButton {
    background-color: #7FB800!important;
  }

  /* MEDIA QUERIES */
  @media screen and (min-width: 481px) and (max-width: 640px) {
    #titleItemField, #colorItemField, #descriptionItemField, #locationItemField {
      margin-bottom: 0.5rem!important;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    #titleItemField, #colorItemField, #descriptionItemField, #locationItemField {
      margin-bottom: 2rem!important;
    } 
  }
