  .buttonUpload {
      margin-top: 2rem!important;
  }

  .rightIcon {
      margin-left: 0.5rem;
  }

  .sendButton {
      background-color: #7FB800!important;
  }

/* MEDIA QUERIES */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        margin-bottom: 50%!important;
    }
}