  .root {
      padding: '2px 4px';
      display: 'flex';
  }

  .button {
      position: absolute!important;
      right: 0;
      bottom: 0;
      background-color: #0D2C54!important;
      color: white!important;
  }
 