.root {
    padding: '2px 4px';
    display: 'flex';
}

.notFoundContainer {
    margin-top: 8rem!important
}

/* MEDIA QUERIES ***************************************/
/* iPad Pro *******************************************/
/* Portrait */
