.heroContent {
  margin-top: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30vh;
  display: flex;
  flex-direction: column;
  border-bottom-style: solid;
  background-color: #f5f5f5
}

@media screen and (min-width: 320px) and (max-width: 481px) {
  .heroContent {
    margin: 4rem 2rem 0 2rem!important;
  }
}