.container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem
}

.grid {
  padding-bottom: 2rem;
  position: relative;
}

.card {
  margin-top: 5rem!important;
  padding: 1rem;
  box-shadow: 2px 2px 2px 2px rgb(168, 168, 168)!important;
}

.cardContent {
  margin-top: 1rem;
}

.register {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0D2C54!important;
  color: #ffffff!important;
  margin-bottom: 1.5rem!important;
  margin-top: 1.5rem!important;
}

.register :hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

.createAccount small {
  color: #999;
  font-weight: lighter;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .card {
    margin-bottom: 6rem!important;
    margin-top: 7rem!important;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
}